@import url('reset.css');
@import url('colores.css');
:root{
    --alturaHeader: 240px;
}
header{
    position: relative;
    height:  var(--alturaHeader);
    background-color: red;
}
main{
    min-height: calc(100dvh - var(--alturaHeader));
    background-color: blue;
    /* background-color:  var(--color-primario); */
}
.categorias{
    height: 80px;
    background-color: greenyellow;
}
.restaurante{
    min-height: 500px;
    background-color: red;
}
.Buscador{
    position: absolute;
    bottom: -30px;
    left: 10%;
    height: 60px;
    width: 80%;
    background-color: white;
    display: flex;
     i{
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    background-color: rebeccapurple;

    button {
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
      background-color: rebeccapurple;;
      
    }

    input[type:"text" ;]{
        flex: 1;
        height: 100%;
        padding: 0 20px;
    }
}
}


.textoBienvenida{
    position: absolute;
    bottom: 40px;
    width: 90%;
    left: 5%;
}